[submodule "JS1"]
	path = JS1
	url = https://github.com/sksksk2024/JS1
[submodule "JS2"]
	path = JS2
	url = https://github.com/sksksk2024/JS2
[submodule "JS3"]
	path = JS3
	url = https://github.com/sksksk2024/JS3
[submodule "JS4"]
	path = JS4
	url = https://github.com/sksksk2024/JS4
[submodule "JS5"]
	path = JS5
	url = https://github.com/sksksk2024/JS5
[submodule "JS6"]
	path = JS6
	url = https://github.com/sksksk2024/JS6
[submodule "JS7"]
	path = JS7
	url = https://github.com/sksksk2024/JS7
[submodule "JS8"]
	path = JS8
	url = https://github.com/sksksk2024/JS8
[submodule "JS9"]
	path = JS9
	url = https://github.com/sksksk2024/JS9
[submodule "JS10"]
	path = JS10
	url = https://github.com/sksksk2024/JS10
[submodule "JS11"]
	path = JS11
	url = https://github.com/sksksk2024/JS11
[submodule "JS12"]
	path = JS12
	url = https://github.com/sksksk2024/JS12
[submodule "JS13"]
	path = JS13
	url = https://github.com/sksksk2024/JS13
[submodule "JS14"]
	path = JS14
	url = https://github.com/sksksk2024/JS14
[submodule "JS15"]
	path = JS15
	url = https://github.com/sksksk2024/JS15
[submodule "JS16"]
	path = JS16
	url = https://github.com/sksksk2024/JS16
[submodule "JS17"]
	path = JS17
	url = https://github.com/sksksk2024/JS17
[submodule "JS18"]
	path = JS18
	url = https://github.com/sksksk2024/JS18
[submodule "JS19"]
	path = JS19
	url = https://github.com/sksksk2024/JS19
[submodule "JS20"]
	path = JS20
	url = https://github.com/sksksk2024/JS20
[submodule "JS21"]
	path = JS21
	url = https://github.com/sksksk2024/JS21
[submodule "JS22"]
	path = JS22
	url = https://github.com/sksksk2024/JS22
[submodule "JS23"]
	path = JS23
	url = https://github.com/sksksk2024/JS23
[submodule "JS24"]
	path = JS24
	url = https://github.com/sksksk2024/JS24
[submodule "JS25"]
	path = JS25
	url = https://github.com/sksksk2024/JS25
[submodule "JS26"]
	path = JS26
	url = https://github.com/sksksk2024/JS26
[submodule "JS27"]
	path = JS27
	url = https://github.com/sksksk2024/JS27
[submodule "JS28"]
	path = JS28
	url = https://github.com/sksksk2024/JS28
[submodule "JS29"]
	path = JS29
	url = https://github.com/sksksk2024/JS29
[submodule "JS30"]
	path = JS30
	url = https://github.com/sksksk2024/JS30
